fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.10.4
python-dotenv==1.0.1
requests==2.32.5
line-bot-sdk
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
mysql-connector-python==9.1.0
redis==5.0.4
qrcode[pil]==7.4.2
gunicorn
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
urllib3==2.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
six==1.17.0
